/* Eric Mayer’s CSS Reset method -> https://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;;
	vertical-align: baseline;
    text-decoration: none;
	position: relative;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* Custom Style */
body {
    background-color:white;
}
.logo {
	padding-top: 5px;
    width: 200px;
}
#navbar {
	height: 75px;
	width: 100%;
    border-bottom: 1px solid rgb(177, 177, 177);
}
.container-fluid {
	width: 95%;
	margin-top: 25px;
	padding: 1.5rem;
	background-color: #ebebeb; /* grey = #f8f9fa */
	border: 1px solid rgb(177, 177, 177);
}
.container-fluid a {
    text-decoration: none;
}
.row {
	display: table-header-group;
}

/* COIN STYLE */
#coins {
	height: 13rem;
	padding: 0;
	color: black;
}
#coin {
	margin-top: 2rem;
    margin-left: 0;
}
#coin-id {
	
}
#coin-icon {
	width: 30px;
}
#coin-price {
	font-size: 15px;
    text-align: center;
    margin-top: 0.4rem;
}
#coinlist-label {
	padding-left: 0;
	position: initial;
	font-size: 1.5rem;
}
#add-del-container input {
	height: 2rem;
	width: 25%;
	padding: 0;
}
#amount {
	margin-top: .75rem;
}
#coinlist:focus, #amount:focus {
	border-color: green;
  	outline: 0;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#add-btn, #delete-btn {
	margin: 1rem .75rem 0 0;
}